<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidVisionBoard"
        tools:targetApi="31">
        <activity
            android:name=".workManager.WorkManagerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".jobScheduler.service.JobSchedulerService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <activity
            android:name=".jobScheduler.JobSchedulerMainActivity"
            android:exported="true">
        </activity>

        <service
            android:name=".services.MyBinderService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".services.MyIntentService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".services.MyService"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".services.ServiceMainActivity"
            android:exported="true" /> <!-- ADD LAUNCHER BELOW FOR CONTENT PROVIDER/ROOM APPLICATION -->
        <activity
            android:name=".contentProvider.ContentProviderMainActivity"
            android:exported="true" /> <!-- AUTHORITIES MEANS ID FROM THIS CONTENT PROVIDER AND IT SHOULD BE UNIQUE -->
        <provider
            android:name=".contentProvider.room.DreamContentProvider"
            android:authorities="com.novuspax.androidvisionboard"
            android:exported="true" /> <!-- /////////////////////////////// -->
        <!-- ADD LAUNCHER BELOW FOR VISION BOARD APPLICATION -->
        <activity
            android:name=".visionBoard.ui.VisionBoardActivity"
            android:exported="true" />
        <activity
            android:name=".visionBoard.ui.VisionBoardDetailActivity"
            android:exported="false" /> <!-- /////////////////////////////// -->
        <activity
            android:name=".ui.fragmentActivity.FragActivity"
            android:exported="true" />
        <activity
            android:name=".ui.mainActivity.MainActivity"
            android:exported="true" />
    </application>

</manifest>